.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0005;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{

    width: 40vw;
    height: 40vh;
    padding: 3em 2em;
    box-shadow: 0 0 15px #fff2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);
}

.btnReset{
    padding: 5px 7px;

    &:hover{
        background-color: #fff;
        color: #000;
    }
}


.btnResetCont{
    display: flex;
    gap: 1em;
}

.btnResetCont > button{
    aspect-ratio: 2/1;
    padding: 0 15px;
}