.squareCont{
    
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

    border-radius: 3px;
    border: 1px solid #fff;
    min-width: 60px;
    
}

.active{
    background-color: #29f;
}