.container{

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    padding: 2em;
}

.turnCont{

    width: 400px;

}

.active{
    background-color: #28f;
}

.btnReset{
    padding: 5px 10px;

    &:hover{
        background-color: #fff;
        color: #000;
    }
}